@import "mixins/grid";
@import "variables/sizes";
@import "variables/breakpoints";
@import "mixins/card";

.container {
  @mixin entryPointContainer;
}

.content {
  @mixin card;
  @mixin entryPointContent;
}

.overflow {
  overflow-x: hidden;
  flex: 1 0;
}

.spinner {
  min-height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
