@import "mixins/grid";
@import "variables/sizes";
@import "variables/breakpoints";
@import "mixins/card";

.container {
  @mixin entryPointContainer;
}

.content {
  @mixin card;
  @mixin entryPointContent;
}

.overflow {
  overflow-x: hidden;
}

.heading {
  margin-bottom: var(--half-default-gutter);
}

.searchFieldContainer {
  padding: var(--half-default-gutter);

  @media (--viewport-min-768) {
    padding: 0;
  }
}
