@import "variables/colors";
@import "variables/sizes";
@import "variables/breakpoints";

.container {
  width: 10rem;

  background-color: var(--color-white);
  height: 100vh;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 10px 3px rgba(0, 0, 0, 0.12);

  @media (--viewport-min-992) {
    width: 25rem;
  }
}

.routeGroup {
  padding: var(--default-gutter) 0;
}

.routeGroupTitle {
  color: var(--color-dark-blue);
  margin-bottom: var(--default-gutter);
  padding: 0 var(--default-gutter);
  font-size: var(--font-size-l);
  display: none;

  @media (--viewport-min-992) {
    display: block;
  }
}

.navItem {
  border-bottom: 0.1rem solid var(--color-border);
}

.icon.icon {
  height: 2rem;
  width: 2rem;
  fill: var(--color-dark-blue);
  margin: 0 auto;

  @media (--viewport-min-992) {
    margin: 0 var(--default-gutter);
    height: 1.8rem;
    width: 1.8rem;
  }
}

.link.link {
  text-decoration: none;
  font-size: var(--font-size-s);
  text-align: left;
  height: 5rem;
  color: var(--color-text);
  justify-content: flex-end;

  background: var(--color-white);

  &_isActive {
    background: var(--color-dark-blue);
    color: var(--color-white);

    .icon.icon {
      fill: var(--color-white);
    }
  }
}

.linkText {
  display: none;

  @media (--viewport-min-992) {
    display: block;
  }
}

.version {
  width: 100%;
  padding: var(--default-gutter);
  font-size: var(--font-size-s);
  text-align: center;
}
